.main-navigation {
    background-color: var(--color-secondary);
    padding: 16px 0;
}

.inner-nav-container {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 400px;
}
.main-navigation-logo-button {
    background-color: transparent;
    border: none;
    max-width: 200px;
}

.main-navigation-links {
    list-style: none;
    flex-basis: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-navigation-links .active-link {
    text-decoration: underline;
    color: var(--color-primary);
    font-weight: 600;
}

.main-navigation-links .default-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.main-navigation-links .active-link:hover,
.main-navigation-links .default-link:hover {
    color: var(--color-primary);
}

/*nav a:hover {*/
/*    color: white;*/
/*}*/

/*.active-link {*/
/*color: green;*/
/*}*/

/*.default-link{*/
/*color: white;*/

/*}*/